<% user.forEach(element=> { %>
    <img src="<%= user.profilePicture %>" alt="user profile">
    <p>
        <%= user.Nickname %>
    </p>
    <p>
        <%= user.Rank %>
    </p>
    <p>
        <%= user.Ideology %>
    </p>
    <p>
        <%= user.MemberDate %>
    </p>
    <p>
        <%= user.EntryCount %>
    </p>
    <% }) %>